* {
  font-family: 'Nunito Sans', sans-serif;
}

a:hover {
  color: #E64848;
}

.navbar-nav >li>a {
  color: black !important;
}

.navbar-nav >li>a:hover {
  background-color: #df4759;
  border-radius: 5px;
  background-image: none;
  color: white !important;
}

ul li.active a {
  background-color: #E64848;
  color: white !important;
  border-radius: 5px;
}

#Home {
  padding-top: 7rem;
}

#About {
  padding-top: 4rem;
  text-align: justify;
}

#Services {
  padding-top: 4rem;
}

#MyProject {
  padding-top: 4rem;
}

#Contact {
  padding-top: 4rem;
}